.popular-frame{

  .thumbnails{
    overflow:auto;

    .artist{
      width:33.33%;
      height:33.33%;
      float:left;
      padding:1px;
      position:relative;
      overflow:hidden;

      @media @mobile{
        width:50%;
        height:140px;
      }

      img{
        width:100%;
      }
      span{
        display:none;
      }
      &:hover{
        img{
          opacity:0.3;
        }
        span{
          display:block;
          text-transform:capitalize;
          position:absolute;
          width:100%;
          text-align:center;
          bottom:20px;
        }
      }
      &:hover:before{
        content:"+";
        font-size:100px;
        position:absolute;
        width:100%;
        text-align:center;
        line-height:1.8;
        @media @mobile{
          line-height:1.2;
        }
      }
    }
  }
}
