search form{
  position:relative;
  input{
    .f20;
    .w100;
    border:0px;
    border-radius:0px;
    color:@color-two;
    background:@color-four-dark;
    padding:15px 35px 15px 90px;
    @media @mobile{
      padding-left:10px;
    }
    &:hover,&:focus{
      outline: -webkit-focus-ring-color auto 5px;
      outline-color: fade(@color-two,60);
    }
  }
  .search-icon{
    .hand;
    .s10-inner;
    .transition;
    top: 8px;
    right: 8px;
    position:absolute;
    background:@color-one-fade;
    &:before{
      .icon("\f002");
    }
  }
  .search-title{
    .absolute;
    .s10-inner;
    .hidden-mobile;
    left:5px;
    top:6px;
    background:@color-one-fade;
  }
  &:hover{
    .search-icon,.search-title{
      background:@color-one;
    }
  }
}
